/* Body */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Navbar */
nav {
  background-color: #222;
  color: white;
  padding: 15px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  margin: 0;
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}

nav li {
  cursor: pointer;
  font-weight: bold;
}

nav li:hover {
  color: #00bfff;
}

/* Main Content */
.container {
  text-align: center;
  padding: 100px 20px;
}

.container h1 {
  color: blue;
  font-size: 45px;
}

.container h2 {
  color: black;
}

.container p {
  color: gray;
  font-size: 22px;
}
/* Hero Section */

.hero {
  text-align: center;
  padding: 80px 20px;
}

.profile-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 45px;
  color: #0077ff;
}

.hero h3 {
  color: #444;
}

.hero p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  color: #666;
  line-height: 1.6;
}

.hero button {
  margin: 15px 10px;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  background-color: #0077ff;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.hero button:hover {
  background-color: #005ecc;
}
/* About Section */

.about {
  background-color: white;
  padding: 80px 20px;
  text-align: center;
}

.about h2 {
  font-size: 36px;
  color: #0077ff;
}

.about p {
  width: 70%;
  margin: 20px auto;
  font-size: 18px;
  color: #555;
  line-height: 1.8;
}
/* Skills Section */

.skills {
  padding: 80px 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.skills h2 {
  color: #0077ff;
  font-size: 36px;
  margin-bottom: 40px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-card {
  background: white;
  width: 150px;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.skill-card:hover {
  transform: scale(1.05);
}
/* Projects Section */

.projects {
  padding: 80px 20px;
  background: white;
  text-align: center;
}

.projects h2 {
  color: #0077ff;
  font-size: 36px;
  margin-bottom: 40px;
}

.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.project-card {
  width: 280px;
  background: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card h3 {
  color: #0077ff;
}
/* Contact Section */

.contact {
  padding: 80px 20px;
  background: #f4f4f4;
  text-align: center;
}

.contact h2 {
  color: #0077ff;
  font-size: 36px;
  margin-bottom: 30px;
}

.contact form {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact input,
.contact textarea {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.contact button {
  padding: 12px;
  background: #0077ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.contact button:hover {
  background: #005ecc;
}